
<SCRIPT LANGUAGE ="JavaScript">

//individual ship arrangement view
//use player_id to pull ships and place them on grid
function refresh() {
  $.ajax({ 
	url: "/refresh/" + game.player_id + ".json",
    type: 'GET',
    dataType: 'json',
    success: function(data) {
      //display_turn(data['turn'])
      //display_player_in_turn(data['player_in_turn'])
      display_ship_attacked_cell(data['my_ships_cell'])
      
}
});
}

 



function display_turn(turn){
  if (turn == true)
    document.getElementById("turn_info").innerHTML = "It's your turn to take a shot"
  else
    document.getElementById("turn_info").innerHTML = ""
}

function display_player_in_turn(player_in_turn){
  if (player_in_turn.id != game.player_id)
    document.getElementById("player_in_turn_info").innerHTML = "Player moving: " + player_in_turn.name
  else
    document.getElementById("player_in_turn_info").innerHTML = ""
}

//setInterval(refresh, 1000)
function coordinate(table) {

    table.coordinates = [];

    var tbody, c;
    for (var n in table.childNodes) {
        c = table.childNodes[n];
        if (c.tagName && c.tagName.match(/^tbody$/i)) {
            tbody = c;
            break;
        }
    }

    var x, y = -1;
    var row, rn;
    var col, cn;

    for (rn in tbody.childNodes) {
        row = tbody.childNodes[rn];
        if (row.tagName && row.tagName.match(/^tr$/i)) {
            x = -1;
            ++y;
            for (cn in row.childNodes) {
                col = row.childNodes[cn];
                if (col.tagName && col.tagName.match(/^t[dh]$/i)) {
                    var colspan = col.getAttribute('colspan');
                    if (! colspan) colspan = 1;
                    while (colspan--) {
                        ++x;
                        if (! table.coordinates[x]) table.coordinates[x] = [];
                        table.coordinates[x][y] = col;
                        col.x = x;
                        col.y = y;
                    }
                }
            }
        }
    }

    for (x=0; row=table.coordinates[x]; ++x) {
        for (y=0; col=table.coordinates[x][y]; ++y) {

            col.north = (y > 0) ?
                table.coordinates[x][y-1] : undefined;

            col.south = (table.coordinates[x][y+1]) ?
                table.coordinates[x][y+1] : undefined;

            col.west = (x > 0) ?
                table.coordinates[x-1][y] : undefined;

            col.east = (table.coordinates[x+1]) ?
                table.coordinates[x+1][y] : undefined;

        }
    }

}

</SCRIPT>
<table border="1" bordercolor="FFCC00" style="background-color:FFFFCC" width="50%" cellpadding="3" cellspacing="3" id="2">
	<tr>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
	</tr>
	<tr>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
	</tr>
	<tr>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
	</tr>
	<tr>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
	</tr>
	<tr>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
	</tr>
	<tr>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
	</tr>
	<tr>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
	</tr>
	<tr>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
	</tr>
	<tr>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
	</tr>
	<tr>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
	</tr>
</table>
<SCRIPT LANGUAGE ="JavaScript">
// The origin (0,0) is the top, leftmost cell
//var table = document.getElementsByTagName('table')[0];
var table = document.getElementById('2');
coordinate(table);

//alert(JSON.stringify(gon.my_ships_grid_cells[0].state))
var cells = table.getElementsByTagName('td');
loadShipsGrid();
for (var i=0,td; td=cells[i]; ++i)
    td.onclick = function () {
	
        
    };

//methods to pull ship view for player_id
//initialise grid with cells before game starts
function loadShipsGrid(){
	for (i=0,td; td=cells[i]; ++i){
		if(gon.my_ships_grid_cells[i]!=null){
	table.coordinates[gon.my_ships_grid_cells[i].x][gon.my_ships_grid_cells[i].y].innerHTML=JSON.stringify(gon.my_ships_grid_cells[i].state)
}
}
}

</SCRIPT>