
<SCRIPT LANGUAGE ="JavaScript">

function display_turn(turn){
  if (turn == true)
    document.getElementById("turn_info").innerHTML = "It's your turn to take a shot"
  else
    document.getElementById("turn_info").innerHTML = "&nbsp;"
}

function display_player_in_turn(player_in_turn){
  if (player_in_turn.id != game.player_id)
    document.getElementById("player_in_turn_info").innerHTML = "Player moving: " + player_in_turn.name
  else
    document.getElementById("player_in_turn_info").innerHTML = "&nbsp;"
}

//setInterval(refresh, 1000)
function coordinate(table) {

    table.coordinates = [];

    var tbody, c;
    for (var n in table.childNodes) {
        c = table.childNodes[n];
        if (c.tagName && c.tagName.match(/^tbody$/i)) {
            tbody = c;
            break;
        }
    }

    var x, y = -1;
    var row, rn;
    var col, cn;

    for (rn in tbody.childNodes) {
        row = tbody.childNodes[rn];
        if (row.tagName && row.tagName.match(/^tr$/i)) {
            x = -1;
            ++y;
            for (cn in row.childNodes) {
                col = row.childNodes[cn];
                if (col.tagName && col.tagName.match(/^t[dh]$/i)) {
                    var colspan = col.getAttribute('colspan');
                    if (! colspan) colspan = 1;
                    while (colspan--) {
                        ++x;
                        if (! table.coordinates[x]) table.coordinates[x] = [];
                        table.coordinates[x][y] = col;
                        col.x = x;
                        col.y = y;
                    }
                }
            }
        }
    }

    for (x=0; row=table.coordinates[x]; ++x) {
        for (y=0; col=table.coordinates[x][y]; ++y) {
            col.className = "cell_my_ships";
            col.north = (y > 0) ?
                table.coordinates[x][y-1] : undefined;

            col.south = (table.coordinates[x][y+1]) ?
                table.coordinates[x][y+1] : undefined;

            col.west = (x > 0) ?
                table.coordinates[x-1][y] : undefined;

            col.east = (table.coordinates[x+1]) ?
                table.coordinates[x+1][y] : undefined;

        }
    }

}

</SCRIPT>

<table  id="2" style="margin:auto;">
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>
<SCRIPT LANGUAGE ="JavaScript">
// The origin (0,0) is the top, leftmost cell
//var table = document.getElementsByTagName('table')[0];
var table = document.getElementById('2');
coordinate(table);

//alert(JSON.stringify(gon.my_ships_grid_cells[0].state))
var cells = table.getElementsByTagName('td');
loadShipsGrid();
for (var i=0,td; td=cells[i]; ++i)
    td.onclick = function () {
	
        
    };

//methods to pull ship view for player_id
//initialise grid with cells before game starts
function loadShipsGrid(){
	for (i=0,td; td=cells[i]; ++i){
		if(gon.my_ships_grid_cells[i]!=null){

			//var jString=JSON.stringify(gon.my_ships_grid_cells[i].state);
			//var jState=jString["type"];
			 var jStateType=gon.my_ships_grid_cells[i].state["type"]
			 //var jStateHit=gon.my_ships_grid_cells[i].state["hit"]
			 //alert(jStateHit)
		
			if(jStateType=="d") {
			
					table.coordinates[gon.my_ships_grid_cells[i].x][gon.my_ships_grid_cells[i].y].className = "cell_destroyer";
					table.coordinates[gon.my_ships_grid_cells[i].x][gon.my_ships_grid_cells[i].y].innerHTML="D";
				 
			}
			else if(jStateType=="b") {
				table.coordinates[gon.my_ships_grid_cells[i].x][gon.my_ships_grid_cells[i].y].className = "cell_battleship";
				table.coordinates[gon.my_ships_grid_cells[i].x][gon.my_ships_grid_cells[i].y].innerHTML="B";

			}
			else if(jStateType=="c") {
				table.coordinates[gon.my_ships_grid_cells[i].x][gon.my_ships_grid_cells[i].y].className = "cell_carrier";
				table.coordinates[gon.my_ships_grid_cells[i].x][gon.my_ships_grid_cells[i].y].innerHTML="C";

			}
			else if(jStateType=="p") {
				//alert(jString)
				table.coordinates[gon.my_ships_grid_cells[i].x][gon.my_ships_grid_cells[i].y].className = "cell_patrol_boat";
				table.coordinates[gon.my_ships_grid_cells[i].x][gon.my_ships_grid_cells[i].y].innerHTML="P";

			}
			else if(jStateType=="s") {
				table.coordinates[gon.my_ships_grid_cells[i].x][gon.my_ships_grid_cells[i].y].className = "cell_submarine";
				table.coordinates[gon.my_ships_grid_cells[i].x][gon.my_ships_grid_cells[i].y].innerHTML="S";

			}

			
			


}
}
}

</SCRIPT>