
<script type="text/javascript">

var game = {
   player_id: 0
 }
 
// initialize the game variable with instance variables from the view
function initialize_game(player_id){
   game.player_id = player_id
}
   initialize_game(<%= @player.id %>)

function refresh() {
  $.ajax({ 
	url: "/refresh/" + game.player_id + ".json",
    type: 'GET',
    dataType: 'json',
    success: function(data) {
      display_turn(data['turn'])
      display_player_in_turn(data['player_in_turn'])
	  display_battlefield_attacked_cell(data['battlefield_cell'])
      display_ship_attacked_cell(data['my_ships_cell'])

}
});
}

function display_battlefield_attacked_cell(battlefield_cell){
	
	var table = document.getElementById('1');
	coordinate(table);
	init_battlefield();

	var cells = table.getElementsByTagName('td');
	for (i=0,td; td=cells[i]; ++i){
        state  = JSON.stringify(battlefield_cell.state); //state = "{2:'u',3:'h', 4:'m'}"
        if(state.indexOf('h') != -1)t
        table.coordinates[battlefield_cell.x][battlefield_cell.y].innerHTML="<p style='background-color: red'>&nbsp;</p>" ;
        else if(state.indexOf('u') != -1)
        table.coordinates[battlefield_cell.x][battlefield_cell.y].innerHTML="<p style='background-color: grey'>&nbsp;</p>" ;
        else if(state.indexOf('m') != -1)
        table.coordinates[battlefield_cell.x][battlefield_cell.y].innerHTML="<p style='background-color: green'>&nbsp;</p>" ;
	}
}

function display_ship_attacked_cell(my_ships_cell){
	
	var table = document.getElementById('2');
	coordinate(table);
	
	var cells = table.getElementsByTagName('td');
	for (i=0,td; td=cells[i]; ++i){
        state = JSON.stringify(my_ships_cell.state['hit']);
        if(state.indexOf("true") != -1)
          table.coordinates[my_ships_cell.x][my_ships_cell.y].innerHTML="<p style='background-color: red'>&nbsp;</p>";
        else if(state.indexOf("false") != -1)
          table.coordinates[my_ships_cell.x][my_ships_cell.y].innerHTML="<p style='background-color: green'>&nbsp;</p>";
        else
          table.coordinates[my_ships_cell.x][my_ships_cell.y].innerHTML="<p style='background-color: white'>&nbsp;</p>";
	}
}

function display_turn(turn){
  if (turn == true)
    document.getElementById("turn_info").innerHTML = "It's your turn to take a shot"
  else
    document.getElementById("turn_info").innerHTML = ""
}

function display_player_in_turn(player_in_turn){
  if (player_in_turn.id != game.player_id)
    document.getElementById("player_in_turn_info").innerHTML = "Player moving: " + player_in_turn.name
  else
    document.getElementById("player_in_turn_info").innerHTML = ""
}

  // Refresh method is executed every second
  setInterval(refresh, 1000)

</script>

<h1>Play</h1>


<div id="turn_info">

</div>

<div id="player_in_turn_info">

</div>


<script type="text/javascript">
//universal battlefield view
function coordinate(table) {

    table.coordinates = [];

    var tbody, c;
    for (var n in table.childNodes) {
        c = table.childNodes[n];
        if (c.tagName && c.tagName.match(/^tbody$/i)) {
            tbody = c;
            break;
        }
    }

    var x, y = -1;
    var row, rn;
    var col, cn;

    for (rn in tbody.childNodes) {
        row = tbody.childNodes[rn];
        if (row.tagName && row.tagName.match(/^tr$/i)) {
            x = -1;
            ++y;
            for (cn in row.childNodes) {
                col = row.childNodes[cn];
                if (col.tagName && col.tagName.match(/^t[dh]$/i)) {
                    var colspan = col.getAttribute('colspan');
                    if (! colspan) colspan = 1;
                    while (colspan--) {
                        ++x;
                        if (! table.coordinates[x]) table.coordinates[x] = [];
                        table.coordinates[x][y] = col;
                        col.x = x;
                        col.y = y;
                    }
                }
            }
        }
    }

    for (x=0; row=table.coordinates[x]; ++x) {
        for (y=0; col=table.coordinates[x][y]; ++y) {

            col.north = (y > 0) ?
                table.coordinates[x][y-1] : undefined;

            col.south = (table.coordinates[x][y+1]) ?
                table.coordinates[x][y+1] : undefined;

            col.west = (x > 0) ?
                table.coordinates[x-1][y] : undefined;

            col.east = (table.coordinates[x+1]) ?
                table.coordinates[x+1][y] : undefined;

        }
    }

}

</SCRIPT>


<table border="1" bordercolor="FFCC00" style="background-color:FFFFCC" width="50%" cellpadding="3" cellspacing="3" id="1">
	<tr>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
	</tr>
	<tr>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
	</tr>
	<tr>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
	</tr>
	<tr>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
	</tr>
	<tr>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
	</tr>
	<tr>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
	</tr>
	<tr>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
	</tr>
	<tr>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
	</tr>
	<tr>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
	</tr>
	<tr>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
	</tr>
</table>
</br>
</br>
</br>
</br>
<%=render 'playerships'%>

<SCRIPT type="text/javascript">

// The origin (0,0) is the top, leftmost cell
var table = document.getElementById('1');
coordinate(table);

var cells = table.getElementsByTagName('td');



for (var i=0,td; td=cells[i]; ++i)
    td.onclick = function () {
		$.ajax({
		    type: 'put',
		    dataType: 'script',
		    // url: '/games/calculate_hits/',
		    url: '/update/'  + game.player_id + '/' + this.x + '/' + this.y + '.json',
		   // data: {'x': this.x, 'y': this.y, 'player_id': 1},
		    data: {x: this.x, y: this.y, player_id: game.player_id},
		    success: function(data){
		      //attack_grid_point_success(data)
		//refresh();
}
		  });
	
    };

function init_battlefield(){
	for (i=0,td; td=cells[i]; ++i){
		table.coordinates[cells[i].x][cells[i].y].innerHTML="<p style='background-color: grey'>&nbsp;</p>";
	}
	
}
	

</SCRIPT>



