
<script type="text/javascript">

  window.onload = function() {

    initialize_game( { player_id: <%= @player.id %>, players: {

            <% @player_names.each_pair do |key, value| %>
                "<%=key%>":"<%=value%>",

            <% end %>
            "0":"nothing"
        }
    } );

    // Refresh method is executed every second
    setInterval(refresh, 1000);

    // The origin (0,0) is the top, leftmost cell
    var table = document.getElementById('1');
    coordinate(table);
    init_cell_events(table);
    init_battlefield();

  };

</script>

<h1>Play</h1>

<div id="turn_info" style="text-align: center">
&nbsp;
</div>

<div id="player_in_turn_info" style="text-align: center">
&nbsp;
</div>

<table width="100%">
<tr>

  <td width="25%">
    <div id="cell_status">
    </div>
  </td>

  <td style="text-align:center;" >
    <table id="1" style="margin:auto;">
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>
  </td>

  <td width="25%">
  </td>

</tr>
</table>

</br>


<table width="100%">
  <tr>
    <td width="25%">
    </td>
    <td style="text-align:center;"> <%= render 'playerships' %> </td>
    <td width="25%">
    </td>
  </tr>
</table>



