
<script type="text/javascript">

  window.onload = function() {

    initialize_game( {player_id: <%= @player.id %>} );

    // Refresh method is executed every second
    setInterval(refresh, 1000);

    // The origin (0,0) is the top, leftmost cell
    var table = document.getElementById('1');
    coordinate(table);
    init_cell_events(table);
    init_battlefield();

  };

</script>

<h1>Play</h1>

<div id="turn_info" style="text-align: center">

</div>

<div id="player_in_turn_info" style="text-align: center">

</div>

<table width="100%">
<tr>

  <td width="25%">
    <div id="cell_status" style="text-align: center">
    Cell Status
    </div>
  </td>
  <td>
    <table border="1" bordercolor="#FFCC00" style="background-color:#FFFFCC" width="100%" cellpadding="3" cellspacing="3" id="1">
	<tr>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
	</tr>
	<tr>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
	</tr>
	<tr>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
	</tr>
	<tr>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
	</tr>
	<tr>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
	</tr>
	<tr>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
	</tr>
	<tr>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
	</tr>
	<tr>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
	</tr>
	<tr>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
	</tr>
	<tr>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
		<td>""</td>
	</tr>
</table>
  </td>

  <td width="25%">
  </td>

</tr>
</table>

</br>
</br>
</br>
</br>

<table width="100%">
  <tr>
    <td width="25%">
    </td>
    <td> <%= render 'playerships' %> </td>
    <td width="25%">
    </td>
  </tr>
</table>



