
<script type="text/javascript">

    initialize_game( { player_id: <%= @player.id %>,
                       game_id: <%= @player.game_id %>,
                       number_of_players: <%= @number_of_players %>
                     } );

    // Refresh method is executed every second
    setInterval(refresh_waiting_view, 1000);

</script>


<h2 id="waiting_notice">Waiting for <%= @number_of_players %> players to join the game...</h2>



<div>
  Players who are ready to play with you:
</div>

<div id="players_joining_game">

</div>