/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


body {
    width: 75%;
    margin: auto;
    padding: 25px 0 25px 0;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
}

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}

a,  a:visited{
    text-decoration: none;
    background-color: transparent;
    /*color: #08298A;*/
    color: #4257a0;
}

a:hover, a:visited:hover{
    text-decoration: none;
    background-color: transparent;
    /*color: #819FF7;*/
    /*color: #5470cd;*/
    color: #708bd8;
}

.page_title {
    font-size: 36px;
    font-weight: bold;
    margin: 5px 0 5px 0;
    height: 50px;
    width: 70%;
    float: left;
}

.page_title a, .page_title a:visited{
    text-decoration: none;
    background-color: transparent;
    /*color: black;*/
}

.page_title a:hover, .page_title a:visited:hover{
    text-decoration: none;
    background-color: transparent;
    /*color: gray;*/
}

#login {
  float: right;
  text-align: right;
}

.after_header {
    clear: both;
}

.notice {
    width: 100%;
    text-align: center;
    color: #3d9bc8;
}